
<%- include ('../partials/header'); -%>




<div class="container">
<header >
<div class="p-3 mb-4  text-dark">
    <h1>Welcome to YelpCamp!</h1>
    <p class="lead">View our hand picked campgrounds from all over the world.</p>
    <hr class="my-4">
    <p><a class="btn btn-primary" href="/campgrounds/new" role="button">Add New Campground</a></p>
</div>

</header>
 
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campground){ %>

      <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img  src=" <%= campground.image %>" class="img-thumbnail" >
            <div  class="caption">
                <h6><%= campground.name %> </h6>
            </div>
            <p>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">More Info</a>
            </p>
          </div>     
      </div>

   <% }); %> 
   </div>

</div>

<%- include ('../partials/footer'); -%>